body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body::after {
    content: "";
    background-image: url("../img/church01.jpg");
    opacity: 0.20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.pageWrapper {
    padding-top: 40px;
}

.center {
    text-align: center;
}

.vcenter {
    vertical-align: center;
}

.worship, .upcoming_events {
    padding-top: 2px;
}

.worship_text, .upcoming_events_text {
    padding-top: 5px;
}

.umc {
    padding-top: 2px;
}

.subjects {}

.footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed;

}

#email {
    padding: 10px 10px 10px 10px;
}

#phone {
    padding: 10px 10px 10px 10px;
}

#address {
    padding: 10px 10px 10px 10px;
}

#facebook {
    padding: 10px 10px 10px 10px;
    text-align: center;
}


/* adjust the pading with lower screen sizes*/

@media(min-width:768px) {
    .worship, .upcoming_events {
        padding-top: 10px;
    }
    .worship_text, .upcoming_events_text {
        padding-top: 19px;
    }
    .umc {
        padding-top: 5px;
    }
    .subjects {
        font-size: 22px;
        line-height: 28px;
    }
    .pageWrappers{
        padding-top: 40px;

    }
}



/*Medium Screen Sizes*/

@media (min-width: 992px) {

    .pageWrapper{
        padding-top: 80px;
    }
    #carousel{
        width: 70%;
    }

}
